<a href="https://colab.research.google.com/github/ZeeshanDev9953/Welcome_To_Python.ipynb/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=100

In [2]:
## Declaring and Assigning Variables

age=21
height=6.1
name= "Zeeshan"
is_student=True

## printing the variables

print("age :", age)
print("height:", height)
print("Name:", name)

age : 21
height: 6.1
Name: Zeeshan

In [7]:
## Naming Convention
## Variable names should be descriptive
## They must start with a letter or an '_' and contains letter , numbers and underscores
## Variables names case senstitive

#valid variable names

first_name="xyz"
last_name="abc"
print("first name:", first_name)

## Case sennstivity
name="xyz"
Name="abc"

print(name)

first name: xyz
xyz

In [11]:
## Understanding Variabe types
## Python is dynamically typed , type of a variable is determined at runtime

age=21
print(type(age))

<class 'int'>

In [12]:
## Type checking and conversion

type(height)

float

In [13]:
age =21
print(type(age))

## Type Conversion
age_str=str(age)
print(age_str)
print(type(age_str))

<class 'int'>
21
<class 'str'>

In [16]:
name = "1234"  # A string with numbers
print(type(name))  # Output: <class 'str'>

name_int = int(name)  # Convert string to integer
print(name_int)  # Output: 1234
print(type(name_int))  # Output: <class 'int'>

<class 'str'>
1234
<class 'int'>

In [20]:
height=5.11
type(height)

str(height)

'5.11'

In [22]:
## Dynamic Typing
## Python allows the type of a variable to change as the program executes
var=10
print(var,type(var))

var="hello"
print(var, type(var))

var=3.14
print(var, type(var))

10 <class 'int'>
hello <class 'str'>
3.14 <class 'float'>

In [28]:
## input

age=input("what is the age ")
print(age, type(age))

name=input("name ")
print(name)

what is the age 21
21 <class 'str'>
name xyz
xyz

In [30]:
## Simple calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1+num2
difference = num1 - num2
product = num1 * num2
quotient = num1/num2

print("Sum: ", sum)
print("Difference: ",difference)
print("Product: ",product)
print("Quotient: ",quotient)

Enter first number: 5
Enter second number: 6
Sum:  11.0
Difference:  -1.0
Product:  30.0
Quotient:  0.8333333333333334